body {
    font-family: sans-serif;
}

.header {
    color: red;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}

.title {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 80px;
}

.link {
    border: solid red 3px;
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
}

.link:visited {
    color: black
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
    color: black;
    width: 80%;
    border-bottom: solid red 3px;
    padding-bottom: 15px;
}

.homepage {
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}